#menu {
	padding:0;
	margin:0;
	position:absolute;
	top:0em;
	right:0em;
	list-style:none;
	border-bottom:1px solid #2B3F45;
	border-left:1px solid #2B3F45;
	font-size:1.2em;
	padding: 8px 8px 8px 0;
	font-weight:bold;
	z-index:6;
}
#menu li {
	display:inline;
	padding-left:0.42em;
}

#menu li a {
	text-decoration:none;
}

#autofill_settings {
	/*display:none;*/
	position:absolute;
	left: 5em;
	top:10px;
	z-index:6;
}

#autofill_settings #autofill {
	vertical-align:top;
}
