.pager {
	text-align:center;
	font-weight:bold;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	height:40px;
	background-color:#232927;
	color:#E3D7BF;
}
.pager .left,
.pager .right,
.pager .page {
	display:inline-block;
	padding:0.42em;
	font-family:monospace;
	background:#2B3F45;
}
.pager span.left,
.pager span.right,
.pager span.page {
}
.pager a.left,
.pager a.right,
.pager a.page {
	text-decoration:none;
}
.pager .left:link,
.pager .right:link,
.pager .page:link {
	color:#82A6B0;
}

.pager .left:active,
.pager .right:active, 
.pager .page:active,
.pager .left:hover,
.pager .right:hover, 
.pager .page:hover,
.pager .left:visited,
.pager .right:visited, 
.pager .page:visited,
.pager .left.visited,
.pager .right.visited, 
.pager .page.visited {
	color:#E16734;
}

.pager span.left,
.pager a.left,
.pager span.right,
.pager a.right {
	width:1em;
	height:1.25em;
	display:block;
	position:fixed;
}

.pager span.left,
.pager a.left {
	left:0.42em;
	top:0.42em;
}

.pager span.right,
.pager a.right {
	left:2.55em;
	top:0.42em;
}

.pager .page {
	margin-top:6px;
}
